<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Picster</title>
</head>
<body>
<!--Navigation bar-->
{% include "navbar.html" %}
<!--end of Navigation bar-->

<!-- FAQs -->
<h1 class="display-4 text-center my-6">FAQs</h1>
<p> For a list of frequently asked questions, please see below. Try to search if your questions have been answered here
    before reaching out to us. </p>
<div id="accordion" role="tablist">

    <div class="card">
        <div class="card-header" role="tab" id="heading">
            <h5 class="mb-0"><a href="#collapse0" data-parent="#accordion" data-toggle="collapse">
                Is it free to register and create my own artwork ?
            </a></h5>
        </div>

        <div id="collapse0" class="collapse">
            <div class="card-body">
                Yes. It's totally free. However, we always welcome donations. To donate to us, please contact us
                directly. For contact information, please go to the "Contact" menu.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" role="tab" id="heading">
            <h5 class="mb-0"><a href="#collapse1" data-parent="#accordion" data-toggle="collapse">
                How to register?
            </a></h5>
        </div>

        <div id="collapse1" class="collapse show">
            <div class="card-body">
                To register, follow the steps below.
                <ol>
                    <li> First navigate to Home page and click on the "Log in" menu at the top left.</li>
                    <li> In the pop-up page, click "register".</li>
                    <li> Follow the prompted steps.</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" role="tab" id="heading">
            <h5 class="mb-0"><a href="#collapse2" data-parent="#accordion" data-toggle="collapse">
                How to log in?
            </a></h5>
        </div>

        <div id="collapse2" class="collapse show">
            <div class="card-body">
                To log in to your account, follow the steps below.
                <ol>
                    <li> First navigate to Home page and click on the "Log in" menu at the top left.</li>
                    <li> In the pop-up page, enter your user name and password.</li>
                    <li> Click "Log in" to log into your account.</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" role="tab" id="heading">
            <h5 class="mb-0"><a href="#collapse3" data-parent="#accordion" data-toggle="collapse">
                What if I lost my password?
            </a></h5>
        </div>

        <div id="collapse3" class="collapse">
            <div class="card-body">
                Please follow the following steps to retrieve your password.
                <ol>
                    <li> First navigate to Home page and click on the "Log in" menu at the top left.</li>
                    <li> In the pop-up page, click "Forgot password".</li>
                    <li> The system will send out a link to reset your password to your registration email.</li>
                </ol>
                Note: please allow up to 24 hours for the processing. If you haven't received the email after 24 hours,
                try to resend the link by following the above procedure, or contact us directly.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" role="tab" id="heading">
            <h5 class="mb-0"><a href="#collapse4" data-parent="#accordion" data-toggle="collapse">
                How to create my own artwork?
            </a></h5>
        </div>

        <div id="collapse4" class="collapse">
            <div class="card-body">
                Please follow the following steps to create your own artwork.
                <ol>
                    <li> First navigate to Home page and click on the "Start Creating" menu at the top left.</li>
                    <li> In the dropdown, click "Upload your photo". Follow the prompted steps to upload your own
                        photo.
                    </li>
                    <li> Then go to "Select style" tab, where you can either choose a style from popular styles, or
                        upload a style from your computer.
                    </li>
                    <li> After creating your own artwork, click "Save" tab to save it to your computer or email it to
                        your email address.
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" role="tab" id="heading">
            <h5 class="mb-0"><a href="#collapse5" data-parent="#accordion" data-toggle="collapse">
                How can save my own artwork to my computer or email to myself ?
            </a></h5>
        </div>

        <div id="collapse5" class="collapse">
            <div class="card-body">
                Please follow the following steps to save your own artwork.
                <ol>
                    <li> First navigate to Home page and click on the "Start Creating" menu at the top left.</li>
                    <li> In the dropdown, click "Save".</li>
                    <li> Follow the prompted steps to save it to your computer or email it to your email address.</li>
                </ol>
            </div>
        </div>
    </div>

</div>

<!--Footer bar-->
{% include "footerbar.html" %}
<!--end of Footer bar-->


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>

<script>
    // Init tooltips
    $('[data-toggle="tooltip"]').tooltip();

    function hideTooltip() {
        $('#hello').tooltip('hide');
    }

</script>

</body>
</html>