<!-- NAVBAR - put at top of all html pages -->
<nav class="navbar navbar-fixed-top navbar-expand-sm navbar-light bg-light mb-3">
    <div class="container">
        <a class="navbar-brand" href="#">Picster</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="login">Log in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="gallery">View Gallery</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Start Creating</a>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item">Upload your photo</a>
                        <a href="upload" class="dropdown-item">Select style</a>
                        <a href="#" class="dropdown-item">Save</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="faq">FAQs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="careers">Careers</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <input type="text" class="form-control mr-sm-2" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
            </form>
        </div>
    </div>
</nav>