<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link herf="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">

</head>
<header>
    <div class="container">
        <div class="row2">
            <h1> Let's upload your image</h1>
        </div>
        <div class=row2>
            <div class=col-sm>
                <form method=post enctype="multipart/form-data">
                    <input type=file value="Upload" class="btn btn-primary" name=file>
                    <input type="submit" class="btn btn-primary" value="submit">
                </form>
            </div>
        </div>
        {% if has_uploaded == true %}
            <div class="col-sm">
                <div class="card" style="width: 30rem;">
                    <img class="card-img-top" src="{{ url_for('static', filename=user_image) }}" alt="User Image">
                    <div class="card-body">
                        <h5 class="card-title">Your image</h5>
                        <p class="card-text">
                            You have successfully uploaded your image.
                        </p>
                        <a href="{{ url_for('view_all_images') }}" class="btn btn-primary"> view all images</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

</header>


</html>
